{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}


{% block hero %}
<h1>My Bio & Resume</h1>
<p> I'm <span class="typed" data-typed-items=" Software Developer,Data Analyst, Freelancer"></span></p>
{% endblock hero %}


{% block body %}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <hr>
            <h2>Resume</h2>
            <hr>
            <p>"Passionate Data Analyst | Python | Data Science | Machine Learning | Django | Web Development | Turning
                Data into Actionable Insights | Let's Connect! #DataAnalytics #Python #Django #WebDevelopment"</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <!-- <h4>Brandon Johnson</h4> -->
                    <p><em>"Experienced backend developer with one year of hands-on expertise in Python and Django,
                            specializing in building robust and scalable web applications. Passionate about data science
                            and eager to apply my coding skills to unlock actionable insights from data."</em></p>
                    <ul>
                        <li>Sannathi New St, Vandavasi</li>
                        <li>+91 8015196655</li>
                        <li>tharunlakshmanan06@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <!-- <h4>Master of Fine Arts &amp; Graphic Design</h4> -->
                    <h4>Bachelor's Computer Applications</h4>
                    <h5>2019 - 2022</h5>
                    <p><em>Indo - American College, Cheyyar</em></p>
                    <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero
                        voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                </div>
                <h3 class="resume-title">Project Experience</h3>
                <div class="resume-item">
                    <!-- <h4>Master of Fine Arts &amp; Graphic Design</h4> -->
                    <h4>Testing Calculator</h4>
                    <h5>2019 - 2022</h5>
                    <p><em>Self - Learning</em></p>
                    <ul>
                        <li>Automated testing of buttons in calculators using Xpath and ID with Appium Inspector, ensuring 100% accuracy and 
                            reducing manual testing time by 80%..</li>
                        <li>Executed a comprehensive mobile application testing project in Appium, resulting in the identification and resolution 
                            of 95% of software bugs before product release.</li>
                        <li>A streamlined process for Appium mobile application testing, utilizing innovative techniques to increase efficiency 
                            by 60% and reduce the overall project timeline by two weeks.
                        </li>
                        <!-- <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li> -->
                    </ul>
                </div>
                <!-- <div class="resume-item">
                    <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
                    <h5>2010 - 2014</h5>
                    <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                    <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione
                        eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon
                        sader mart dila</p>
                </div> -->
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Software Developer</h4>
                    <h5>Dec22 - Aug23</h5>
                    <p><em>AIML(opendatafabric), Bangalore</em></p>
                    <ul>
                        <li>Conducted comprehensive testing of software systems using Python, resulting in a 25% increase in testing efficiency 
                            and a 10% decrease in bugs identified.</li>
                        <li>Collaborated with front-end developers to enhance website functionality by integrating AWS services, resulting in a 
                            15% improvement in website performance and user experience.</li>
                        <li>Developed and Analyzed manual data extraction and increased data analysis efficiency by 75%.
                        </li>
                        <!-- <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li> -->
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Python Developer</h4>
                    <h5>Jul22 - Oct22</h5>
                    <p><em>LINQ USA CORP(Buy Supply), Chennai</em></p>
                    <ul>
                        <li>Spearheaded a process re-engineering endeavor that aimed to enhance and streamline end-to-end service processes. 
                            Successfully restructured communication channels across 10 departments, resulting in a remarkable 75% reduction in 
                            paperwork.</li>
                        <li>Completed loggers into the existing codebase, resulting in improved error tracking and debugging process, reducing 
                            troubleshooting time by 30%.
                            </li>
                        <li>Designed a user-friendly UI using the Streamlit library, resulting in an enhanced user experience of 70% and 
                            increased client satisfaction.
                            </li>
                        <!-- <li>Created 4+ design presentations and proposals a month for clients and account managers</li> -->
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->

{% endblock body %}